<div class="video-card card">
  <h1 class="pffbold">{{ include.title }}</h1>
  <section class="container">
    <div class="video-container">
      <iframe
        src="https://www.youtube.com/embed/MzFxtVKPj2w?si=phWhzWm9iFybgw0k"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        class="youtube-iframe"
        allowfullscreen
      >
      </iframe>
    </div>
  </section>
</div>
