<div class="faq-card">
  <input type="checkbox" id="faq-{{ include.index }}" class="faq-toggle">
  <label for="faq-{{ include.index }}" class="faq-question">
    <span class="faq-arrow">&#9654;</span>
    <!-- Unicode ▶ -->
    <span class="text">{{ include.title }}</span>
  </label>
  <div class="faq-answer">
    {{ include.answer }}
  </div>
</div>
