<div class="card prize-card">
  <h1 class="pffbold">{{ include.title }}</h1>
  {% if include.subtitle %}
    <p class="subtitle">{{ include.subtitle }}</p>
  {% endif %}

  <div class="prize-grid">
    {% for prize in include.prizes %}
      <div class="prize-category">
        <h3 class="prize-category-name pffbold">{{ prize.label }}</h3>
      </div>
    {% endfor %}
  </div>
</div>
