<div class="card prize-card">
  <h1 class="pffbold">{{ include.title }}</h1>
  {% if include.subtitle %}
    <p class="subtitle">{{ include.subtitle }}</p>
  {% endif %}

  <div class="prize-bottom">
    {% for prize in include.prizes %}
      <div class="prize-item">
        <div class="amount">
          {{ prize.amount }}
          <span class="euro">€</span>
        </div>
        <div class="label">{{ prize.label }}</div>
      </div>
    {% endfor %}
  </div>
</div>
