<section class="hero">
  <div class="hero-left">
    <img src="{{ site.baseurl }}/assets/img/logos/Logo.svg" alt="Icon" class="small-image">
    <h3>
      Collaborate and innovate for <span style="color: #ff4fc3;">2 days</span>, <br>
      and unleash AI's potential for education!
    </h3>
    <p>
      Team up with mentors and industry leaders to transform <br>
      your AI-powered vision for education into reality.
    </p>
  </div>
  <div class="hero-right">
    <img src="{{ site.baseurl }}/assets/img/Face.svg" alt="Main visual">
  </div>
</section>